@media screen and (max-width: 40.0rem) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .flex-row {
    display: flex;
    flex-direction: column-reverse;
    background-position: center 50%; 
  }

  /*Treatment Images*/
  .ws-bg6 {
    height: 350px;
    background-position: center 100%;
  }

  .ws-bg7 {
    height: 350px;
    background-position: center 100%;
  }

  .ws-bg8 {
    height: 350px;
    background-position: center 100%;
  }

  .ws-bg9 {
    height: 350px;
    background-position: center 100%;
  }

  .ws-bg10 {
    height: 350px;
    background-position: center 100%;
  }

  /*Treatment Word*/
  .ws-bg30 {
    height: 350px;
    color: white;
    background-color: cadetblue;
    background-size: cover;
    background-position: center 100%;
    padding-top: 10%;
  }

  .ws-bg31 {
    height: 350px;
    color: white;
    background-color:blueviolet;
    background-size: cover;
    background-position: center 100%; 
    padding-top: 10%;
  }

  .ws-bg32 {
    height: 350px;
    color: white;
    background-color:crimson;
    background-size: cover;
    background-position: center 100%; 
    padding-top: 10%;
  }

  .ws-bg33 {
    height: 350px;
    color: white;
    background-color: gray;
    background-size: 150%;
    background-position: center 100%;
    padding-top: 10%;
  }

  .ws-bg34 {
    height: 350px;
    color: white;
    background-color: darkolivegreen;
    background-size: 150%;
    background-position: center 100%;
    padding-top: 10%;
  }

  .ws-bg35 {
    height: 350px;
    color: white;
    background-color: darkslateblue;
    background-size: 150%;
    background-position: center 100%;
    padding-top: 10%;
  }

  .ws-bg36 {
    height: 350px;
    color: white;
    background-color: forestgreen;
    background-size: 150%;
    background-position: center 100%;
    padding-top: 10%;
  }
  
  .ws-bg37 {
    height: 350px;
    color: white;
    background-color: royalblue;
    background-size: 150%;
    background-position: center 100%;
    padding-top: 10%;
  }

  /*Clinic Images*/
  .ws-bg21 {
    height: 350px;
    background-position: center 100%; 
  }

  .ws-bg22 {
    height: 350px;
    background-position: center 100%; 
  }

  .ws-bg23 {
    height: 350px;
    background-position: center 100%; 
  }

  .ws-bg24 {
    height: 350px;
    background-position: center 100%; 
  }

  .ws-bg25 {
    height: 350px;
    background-position: center 100%; 
  }

  .ws-bg26 {
    height: 350px;
    background-position: center 100%; 
  }

  .ws-bg27 {
    height: 350px;
    background-position: center 100%; 
  }

  .ws-bg28 {
    height: 350px;
    background-position: center 100%; 
  }

  .ws-bg29 {
    height: 350px;
    background-position: center 100%; 
  }
  
  /*Contact Us*/
  .carousel-item {
    background-image: none;
  }

  #side-nav {
    display: none;
  }

  #content-container {
    margin-left: 0px;
  }

  .navbar {
    border-radius-top: 0.2em;
    background-color: #12beba !important;
    display: block;
    padding: 0px;
  }

  .navbar-header {
    background-color: white;
    border-bottom: 2px solid #12beba;
    margin: 0px;
    padding: 0.5em;
  }

  .nav-item {
    padding-left: 1em;
  },

  .navbar-brand {
    padding: 0.5em;
  }

  .navbar-brand img {
    margin-left: 20px;
  }

  .navbar-toggler {
    float: right;
    margin: 0.6em;
  }

  a.navbar-brand {
    color: white;
  }

  a.nav-link {
    color: white !important;
  }
}

