body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

#main-container {
  width: 100vw;
  min-height: 100vh;
}

#side-nav {
  padding-top: 80px;
  padding-left: 0px;
  min-height: 100vh;
  position: fixed;
  width: 280px;
  border-right: 1px solid silver;
  text-align: center;
}

#content-container {
  margin-left: 280px;
  padding: 0.5em;
  width: 100%;
  min-height: 100vh;
  background-color: #fefefe;
}

#side-nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
}

#side-nav li {
  margin: 0.5em;
  text-align: right;
  border-bottom: 1px solid silver;
}

#side-nav li a {
  text-transform: uppercase;
  color: #333;
}

.navbar {
  display: none;
}

.ws-side-info {
  margin-top: 100px;
}

.ws-side-info i {
  color: #186b63;
  font-size: 16pt;
  margin: 0.5em;
}

.ws-line {
  text-align: middle;
}


.ws-purpose {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 120px;
}

.ws-width {
  max-width: 600px;
  margin: auto;  
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.ws-purpose-item {
  padding: 3em;
  padding-top: 5em;
  color: black;
  min-height: 280px;
}

.ws-button {
  display: block;
  padding: 0.5em;
  color: white;
  background-color: #26beb9;
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  width: 200px;
  border-radius: 0.5em;
}

.ws-button:hover {
  text-decoration: none;
}

.ws-promise {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
  margin: auto;
}

.ws-promise-item {
  padding: 5em;
  background-color: white;
  min-height: 280px;
}

.ws-team {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
  margin: auto;
}

.ws-team-item {
  padding: 3em;
  background-color: white;
  min-height: 280px;
}

.ws-image-placeholder {
  vertical-align: middle;
  text-align: center;
}

.ws-partner-item {
  padding: 3em;
  background-color: white;
  min-height: 280px;
  border-right: 1px solid #f2f2f3;
}

.ws-treatment {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.ws-treatment-item {
  padding: 3em;
  background-color: white;
  min-height: 400px;
}

.ws-contact {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.ws-contact i {
  font-size: 16pt;
  margin: 0.5em;
  color: #186b63;
}

.ws-contact-item {
  padding: 2em;
  background-color: white;
  min-height: 280px;
  border-right: 1px solid #f2f2f3;
}

.ws-contact-grid {
  display: grid;
  grid-template-columns: 50px auto;
  margin-top: 5px;
}

.ws-contact-grid i {
  color: #186b63;
  font-size: 16pt;
}

.carousel-caption {
  font-size: 18pt;
}

.ws-bg1 {
  color: white;
  font-size: 13pt;
  background-color: #164d5a;
}

.ws-bg2 {
  color: white;
  background-color: #7fa9b3;
  padding-top: 10%;
}

.ws-bg3 {
  color: white;
  background-color: #717f8b;
}

.ws-bg4 {
  background-color: #E5E5f7;
  padding-top: 10%;
}

.ws-bg5 {
  color: white;
  background-color: #af9d67;
}

.ws-bgg1 {
  background-color: #f0f0f0;
}

.ws-bgg2 {
  background-color: #dbdbdb;
}

/*Clinic Background*/
.ws-bg40 {
  color: white;
  background-color: #7fa9b3; 
}

.ws-bg41 {
  background-color: #E5E5f7;  
}

/* Treatment Cover Image */

.ws-bg6 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/43740177_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg7 {
  color: white;
  height: 500px;  
  background-image: url(../images/wong&sim/14428502_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg8 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/46043757_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg9 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/implant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg10 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/21286129_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Clinic Background Image */

.ws-bg21 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/43296407_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg22 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/39917949_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg23 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/46043757_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg24 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/40129756_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg25 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/14428502_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg26 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/106975304_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg27 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/56463681_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg28 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/21286129_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg29 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/110025263_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.general-dentistry {
  width: 100%;
  height: 100%;
}

/*Home Page*/
.carousel-bg1 {
  min-height: 500px;
  background-repeat: no-repeat;
  background-image: url(../images/homepage/1w&s.jpg);
  background-size: cover;
  background-position: center 30%;
}

.carousel-bg2 {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/wong&sim/asas.jpg);
  background-position: center 60%;
}

.carousel-bg3 {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/wong&sim/116215139_s.jpg);
  background-position: center 55%;
}

.carousel-bg4 {
  min-height: 500px;
  background-repeat: no-repeat;
  background-image: url(../images/wong&sim/40129756_s.jpg);
  background-position: center 45%;
  background-size: cover;
}

/*Contact Us*/
.carousel-bg6 {
  min-height: 500px;
}

.carousel-bg7 {
  min-height: 500px;
}

.carousel-bg8 {
  min-height: 500px;
}

.carousel-bg9 {
  min-height: 500px;
}

.carousel-bg10 {
  min-height: 500px;
}

h1 {
  font-size: 25px;
}

p6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-right: 500px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

p5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  text-shadow: 2px 1px rgb(48, 46, 46)
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-right: 700px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-right: 750px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

.contact-carousel {
  background-image: url(../images/bannertest.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  font-size: 18px;
}

/*New Home Page Background*/
.ws-bg60 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/46043757_s.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 15%;
}

.ws-bg61 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/implant.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg62 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/116215139_s.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg63 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/43740177_s.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg64 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/10511.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
}

.ws-bg65 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/101144164_s.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-contact-container {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.quote {
  font-size: 20pt;
  margin-top: 80pt;
  text-align: left;
}

.cited {
  font-size: 18pt;
  margin-top: 80pt;
  text-align: left;
}

p10 {
  font-size: 25pt;
  border-bottom: white solid;
}

@import url("mobile.css");
