body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

#main-container {
  width: 100vw;
  min-height: 100vh;
}

#side-nav {
  padding-top: 80px;
  padding-left: 0px;
  min-height: 100vh;
  position: fixed;
  width: 280px;
  border-right: 1px solid silver;
  text-align: center;
}

#content-container {
  margin-left: 280px;
  padding: 0.5em;
  width: 100%;
  min-height: 100vh;
  background-color: #fefefe;
}

#side-nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
}

#side-nav li {
  margin: 0.5em;
  text-align: right;
  border-bottom: 1px solid silver;
}

#side-nav li a {
  text-transform: uppercase;
  color: #333;
}

.navbar {
  display: none;
}

.ws-side-info {
  margin-top: 10px;

}

.ws-side-info i {
  color: #26beb9;
  font-size: 16pt;
  margin: 0.5em;
}

.fa {
  color: #4a94a6;
}

.ws-line {
  text-align: middle;
}


.ws-purpose {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 120px;
}

.ws-width {
  max-width: 700px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.ws-purpose-item {
  color: black;
  min-height: 280px;
  max-height: 314px;
  background-color: #e9e9e9;
}

.ws-purpose-item p {
  padding: 3em;
}

.ws-button {
  display: block;
  padding: 0.5em;
  color: white;
  background-color: #26beb9;
  text-decoration: none;
  margin: auto;
  margin-top: 30px;
  width: 200px;
  border-radius: 0.5em;
}

.ws-button:hover {
  text-decoration: none;
}

.ws-promise {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
  margin: auto;
}

.ws-promise-item {
  padding: 5em;
  background-color: white;
  min-height: 280px;
}

.ws-team {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
  margin: auto;
}

.ws-team2 {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/ourteam.jpg);
  background-position: center 20%;
}

.ws-team-item {
  padding: 3em;
  background-color: #e9e9e9;
  min-height: 280px;
}

.ws-image1 {
  color: white;
  height: 500px;
  background-image: url(../images/doctors/DrKenneth.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.ws-image2 {
  color: white;
  height: 500px;
  background-image: url(../images/doctors/DrBrenda.JPG);
  background-size: cover;
  background-repeat: no-repeat;

}

.ws-image4 {
  color: white;
  height: 500px;
  background-image: url(../images/doctors/DrChang.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ws-image6 {
  color: white;
  height: 500px;
  background-image: url(../images/doctors/DrLoo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ws-image7 {
  color: white;
  height: 500px;
  background-image: url(../images/doctors/DrRachel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ws-image8 {
  color: white;
  height: 500px;
  background-image: url(../images/doctors/DrVivian.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ws-image9 {
  color: white;
  height: 500px;
  background-image: url(../images/doctors/DrCharlotte.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ws-image-placeholder {
  vertical-align: middle;
  text-align: center;
}

.ws-text {
  padding-top: 10%;
}

.ws-partner {
  background-color: #e0f0f2 !important;
}

.ws-partner-item {
  padding: 3em;
  min-height: 280px;
  border-right: 1px solid #f2f2f3;
}

.ws-treatment {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.ws-treatment-item {
  padding: 3em;
  background-color: white;
  min-height: 400px;
}

.ws-contact {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.ws-contact i {
  font-size: 16pt;
  margin: 0.5em;
  color: #26beb9;
}

.ws-contact-item {
  padding: 2em;
  background-color: white;
  min-height: 280px;
  border-right: 1px solid #f2f2f3;
}

.ws-contact-grid {
  display: grid;
  grid-template-columns: 50px auto;
  margin-top: 5px;
}

.ws-contact-grid i {
  color: #26beb9;
  font-size: 16pt;
}

.car-cap {
  width: 100%;
  font-size: 30pt;
  font-weight: 400;
  line-height: 1.0;
  color: #fff;
  text-align: right;
  -webkit-transform: translate(0, 1000%);
  /* -ms-transform:translate(0, 100%); */
  transform: translate(-4%, 450%);

}

.car-cap2 {
  width: 100%;
  font-size: 30pt;
  font-weight: 400;
  line-height: 1.0;
  color: #fff;
  text-align: right;
  -webkit-transform: translate(0, 1000%);
  /* -ms-transform:translate(0, 100%); */
  transform: translate(-4%, 450%);

}

.ws-bg912 {
  background-image: url(../images/covidwt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 500px;
}

.doc-img {
  width: auto;
  height: 348px;
}

.ws-bg1 {
  color: white;
  font-size: 13pt;
  background-color: #26beb9;
}

.ws-bg2 {
  color: white;
  background-color: #7fa9b3;
  padding-top: 10%;
}

.ws-bg3 {
  color: white;
  background-color: #717f8b;
}

.ws-bg4 {
  background-color: #E5E5f7;
  padding-top: 10%;
}

.ws-bg5 {
  color: white;
  background-color: #af9d67;
}

.ws-bgg1 {
  background-color: #f0f0f0;
}

.ws-bgg2 {
  background-color: #dbdbdb;
}

/*Clinic Background*/
.ws-bg40 {
  color: white;
  background-color: #7fa9b3;
}

.ws-bg41 {
  background-color: #E5E5f7;
}

/* FAQS Menu */
#faq-nav a {
  color: #333;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #26beb9;
}

/* Treatment Cover Image */

.ws-bg6 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/generaldentistry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg7 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/EMSAIRFLOW.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg8 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/46043757_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg9 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/implant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg10 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/LASERDENTISTRY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Clinic Background Image */

.ws-bg21 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/DIGITALXRAY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}

.ws-bg22 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/HEALTHANDSAFETY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg23 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/46043757_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg24 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/CONSERVATIVEDENTISTRY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg25 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/EMSAIRFLOW.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg26 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/106975304_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg27 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/MAGNIFICATIONDENTISTRY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.ws-bg28 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/LASERDENTISTRY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg29 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/plasma.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ws-bg30 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/Intraoral.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ws-bg31 {
  color: white;
  height: 500px;
  background-image: url(../images/wong&sim/CBCT.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.general-dentistry {
  width: 100%;
  height: 100%;
}

/*Home Page*/
.carousel-bg1 {
  min-height: 500px;
  background-repeat: no-repeat;
  background-image: url(../images/homepage/1w&s.jpg);
  background-size: cover;
  background-position: center 30%;
}

.carousel-bgCovid {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/covid.jpg);
  background-position: center;
}

.carousel-bg2 {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/banner-caring.jpg);
  background-position: center 20%;
}

.carousel-bg3 {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/banner-smile.jpg);
  background-position: center 55%;
}

.carousel-bg4 {
  min-height: 500px;
  background-repeat: no-repeat;
  background-image: url(../images/wong&sim/bgg3.jpg);
  background-position: center 45%;
  background-size: cover;
}

/*Contact Us*/
.carousel-bg6 {
  min-height: 500px;
}

.carousel-bg7 {
  min-height: 500px;
}

.carousel-bg8 {
  min-height: 500px;
}

.carousel-bg9 {
  min-height: 500px;
  padding-bottom: 50px;
}

.carousel-bg10 {
  min-height: 500px;
}

.review1 {
  background-image: url(../images/review.jpg);
  background-size: cover;
  width: 500px;
  height: 500px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

h1 {
  font-size: 25px;
}

p6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-right: 500px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

p5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  text-shadow: 2px 1px rgb(48, 46, 46)
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-right: 700px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-right: 750px;
  text-shadow: 3px 2px rgb(48, 46, 46);
}

.contact-carousel {
  background-image: url(../images/review-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 50%;
  font-size: 18px;
  opacity: 0.8;
}

/*New Home Page Background*/
.ws-bg60 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/teethwhitening.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50%;
}

.ws-bg61 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/bg61.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg62 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/bg62.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg63 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/gendentistry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-bg64 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/stdcare.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.ws-bg65 {
  color: white;
  font-size: 15pt;
  background-image: url(../images/wong&sim/HomepageBackground/holistic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ws-contact-container {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 50px;
}

.quote {
  text-align: left;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 25pt;
  font-size: 17pt;
  font-weight: bold;
  -webkit-transform: translate(0, 1000%);
  transform: translate(-4%, -23%);
}

.quote2 {
  text-align: left;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 25pt;
  font-size: 17pt;
  font-weight: bold;
  -webkit-transform: translate(0, 1000%);
  transform: translate(-4%, -9%);
}

.quote-bg {
  -webkit-transform: translate(0, 1000%);
  transform: translate(-4%, -40%);
  background-color: black;
  opacity: 0.8;
  padding: 15px;
}

.cited {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11pt;
  margin-top: 10pt;
  text-align: left;
}

.greview {
  margin-top: 10px;
  max-width: 15%;
  max-height: 15%;
  filter: brightness(0) invert(1);
  -webkit-transform: translate(0, 1000%);
  /* -ms-transform:translate(0, 100%); */
  transform: translate(-310%, -65%);
}

.greview2 {
  margin-top: 10px;
  max-width: 15%;
  max-height: 15%;
  filter: brightness(0) invert(1);
  -webkit-transform: translate(0, 1000%);
  /* -ms-transform:translate(0, 100%); */
  transform: translate(-310%, -55%);
}

p10 {
  font-size: 18pt;
  padding-bottom: 6px;
  border-bottom: 2px solid cyan;
}

p9 {
  font-size: 18pt;
}

.loc-pad {
  padding-bottom: 20px;
}

.iconc {
  color: #4a94a6;
}

.qqvbed-tJHJj {
  background-color: #26beb2 !important;
  position: relative !important;
}

.i4ewOd-pzNkMb-haAclf {
  display: none !important;
}

.page-footer {
  /* background-color: #43ADFF; */
  /* background-color: silver; */
  color: gray;
}

.footer-copyright .footer-link {
  color: gray;
  text-decoration: none;
}

.th-1 {
  text-align: center;
}

.dh-1 {
  text-align: center;
  font-size: 12pt !important;
  margin: 0 6%;
}

.posImage {
  position: absolute;
  top: 14%;
  right: 0%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.posImage2 {
  position: absolute;
  bottom: 418px;
  right: 40px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, 0%);
}

.logo_style {
  max-width: 70px;
  max-height: 70px;
}

.logo_style2 {
  max-width: 90px;
  max-height: 90px;
}

.top-right {
  position: absolute;
  bottom: 350px;
  right: 1px;
}

.carousel-indicators {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@import url("mobile.css");

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in, -webkit-transform 500ms ease-in;
  transition: opacity 500ms ease-in, transform 500ms ease-in;
  transition: opacity 500ms ease-in, transform 500ms ease-in,
    -webkit-transform 500ms ease-in;
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
}

.fade-in.appear {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 500ms ease-in, -webkit-transform 800ms ease-in;
  transition: opacity 500ms ease-in, transform 800ms ease-in;
  transition: opacity 500ms ease-in, transform 800ms ease-in,
    -webkit-transform 800ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* social media btn floating */
.my-float {
  margin: 12px;
  color: white;
}

.sbuttons {
  bottom: 25px;
  position: fixed;
  margin: 1em;
  right: 25px;
}

.sbutton-faq {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  font-size: 35px;
  margin: 20px auto 0;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.sbutton {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  font-size: 35px;
  margin: 20px auto 0;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.sbutton:active,
.sbutton:focus,
.sbutton:hover,
.sbutton-faq:active,
.sbutton-faq:focus,
.sbutton-faq:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.sbutton.instagram,
.sbutton-faq.instagram {
  background-color: #8a3ab9;
}

.sbutton.whatsapp,
.sbutton-faq.whatsapp {
  background-color: #00e676;
}

@media screen and (min-width: 1280px) {
  .ws-bg912 {
    background-image: url(../images/covidwt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .ws-bg912 {
    background-image: url(../images/covidwt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 450px;
  }
}